@charset "utf-8";
@import "compass";
@import 'common';

/* ================================================
    - 00. デフォルト
================================================= */

body {
    // Fade In
    animation: fadeIn 4s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;

    background-color: $light;
    @include fontsize(12);
    text-align: center;

    // 見出し設定
    h3{
        @include fontsize(22);
        font-family: 'Lusitana', serif;
        padding-top: 30px;
        margin-bottom: 30px;
    }
    @media (min-width: 551px) {
        h3{
            @include fontsize(34);
            padding-top: 50px;
            letter-spacing: 6px;
        }
    }
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* ================================================
    - 01. 共通コンテンツ
    header, footer, navi
================================================= */
/* HEADER
------------------------------------------------------------*/
#header_in{
    padding-top: 10px;
    padding-bottom: 4px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

// header 2カラム設定
@media (max-width: 550px) {
  .logo{
    width: 190px;
  }
  .navi{
    width:30px;
    float: right;
  }
}

.logoimg{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    padding: 20px;
    width: 100%;
    min-width: 160px;
}

/* NAVI
------------------------------------------------------------*/
.navi{
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
// ハンバーガーメニューOPEN
.sp_navi_li{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 58px;
    right: 0;
    background: $night;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    
    li{
        margin: 0;
        padding: 0;

        a{
            display: block;
            padding: 16px;
            @include fontsize(14);
        }
        
        img{
            width: 32px;
        }
    }
}

// PC
@media (min-width: 551px) {
    #header_in{
        padding: 20px 0; 
    }
    
    .pc_navi_li{
        margin: 0;
        padding: 0;

        li{
            padding: 0;
        }
        a{
            float: right;
            padding-right: 22px;
        }

        img{
            width: 18px;
        }
    }
}

/* FOOTER
------------------------------------------------------------*/
footer{
    li{
        margin-bottom: 20px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
    }
    .ms{
        @include fontsize(16);
    }
}
// PC
@media (min-width: 551px) {
    footer{
        ul{
            display: inline-block;
            margin: auto;
            overflow: hidden;
            
            li{
                float: left;
                padding-right: 10px;
            }
        }
        .ms{
            @include fontsize(20);
        }

    }
}


/* ================================================
    - 02. TOP画面
    eyecatch, aboutme, service, skills, works
================================================= */

/* MAIN
------------------------------------------------------------*/
// EYECATCH
.eyecatch{
    padding-top: 100px;
    height: 500px;
    h5{
        @include fontsize(14);
        margin-bottom: 5px;
    }
    h2{
        @include fontsize(32);
    }
    p{
        @include fontsize(17);
    }
    
}
.eyecatch::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    height: 100vh;
    background: url("../img/top/img_eyecatch_top.jpg") center/cover no-repeat;
    -webkit-background-size: cover;
    z-index: -1;
}

// ABOUT ME
.profile_img{
    @include border-radius(50%);
    width: 100px;
}
.profile_inf{
    border-collapse: separate;
    border-spacing: 0px 8px;
    tr{
        margin-bottom: 20px;
    }
    th,td{
        border-bottom: none;
        padding-top: 5px;
        margin-bottom: 10px;
    }
    th{
        @include cat($gold);
    }
    td{
        text-align: left;
    }
}

.about_me_inf{
    max-width: 960px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

// SERVICE
.service{
    li{
        margin-bottom: 0px; 
        min-height: 120px;
        padding: 20px;
        
        div{
            border: solid 1px $light;
            padding: 10px;
        }

        h5{
            margin-bottom: 10px;
            @include fontsize(18);
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 3px;
            
        }
        p{
            margin: 0;
            @include fontsize(11);
        }
    }
}
.direction{
    background-image: url("../img/top/service/img_direction.jpg");
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
}
.design{
    background-image: url("../img/top/service/img_design.jpg");
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
}
.cording{
    background-image: url("../img/top/service/img_cording.jpg");
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
}
.marketing{
    background-image: url("../img/top/service/img_marketing.jpg");
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
}

// SKILLS
.skl_tgl{
    background-color: $khaki;
    color: $night;
    text-align: left;
    padding: 20px;
    padding-left: 20px;
    background-image: url("../img/icon_arrow_down.png");
    background-repeat: no-repeat;
    background-position: 90% center; 
    -webkit-tap-highlight-color:rgba(0,0,0,0);

    span{
        @include fontsize(14);
        vertical-align: sub;
    }
}
    .active_tgl{
        background-image: url("../img/icon_arrow_up.png");
    }

.skill_area{
    background-color: white;
    display: none;
}
.show_tgl{
    display: block;
}
.skills{
    @include display-flex;
    @include flex-flow(row wrap);
    max-width: 960px;
    margin: auto;
    padding: 10px;

    li{
        padding: 6px;
        padding-bottom: 0px;
        margin-bottom: 4px;
        width: 45%;
        line-height: 0;
        img{
            width: 40%;
            padding-right: 2px;
            
        }
        p{
            padding: 10px;
            margin: 0;
            @include fontsize(11);
        }
    }
}

.skill_inf{
    padding: 20px;
    padding-bottom: 0px;
    margin: auto;
}

// WORKS
.works{
    padding-bottom: 40px;
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
        li{
            flex: inherit;
        }
        table{
            margin: auto;
            margin-bottom: 0px;
        }

        th, td {
            padding: 0;
            display: block;
            box-shadow: 0 0 4px gray;
        }
        
        // img
        th{
            height: 240px;
            box-sizing: border-box;
            overflow: hidden;
            img{
                transition-duration: 0.3s;
            }
            img:hover {
                transform: scale(1.2);
                transition-duration: 0.3s;
                opacity: 0.6;
            }
        }
        
        // info
        td{ 
            margin-bottom: 14px;
            width: 300px;
            height: 220px;
            padding-bottom: 50px;
            padding-top: 10px;
            background-color: white;

            p{
                margin: 0;
                padding: 20px;
                font-family: 'Open Sans', sans-serif;
                text-align: center;
            }
            
            h6{
                margin: 0px 70px;
                text-align: center;
                font-weight: bold;
            }

        }

}
.wrks_btn{
    margin: auto;
    margin-top: 20px;
    @include button($gold, white, $gold);
    @include display-flex;
    @include align-items(center);
    
    span{
        display: block;
        margin: auto;
    }
}
.wrks_btn:hover{
    cursor: pointer; 
    @include button(white, $night, $gold);
}


// PC
@media (min-width: 551px) {
    // EYECATCH
    .eyecatch{
        padding-top: 180px;
        height: 700px;

        h5{
            @include fontsize(24);
        }
        h2{
            @include fontsize(64);
        }
        p{
            @include fontsize(34);
        }
    }

    // ABOUT ME
    .profile_inf{
        td{
            width: 50%;
        }
    }
    
    .about_me_inf{
        width: 50%;
    }
    
    
    // SERVICE
    .service{
        padding-left: 10px; 
        max-width: 960px;
        margin: auto;
        @include display-flex;
        @include flex-flow(row wrap);

        li{
            margin-bottom: 0px;
            width: 49%;
            min-height: 230px;
            padding: 40px;

            div{
                padding: 20px;
                height: auto;
                min-height: 105px;
            }
        }
        
        li:nth-child(even){
            margin-left: 0px;
        }
    }

    // SKILLS
    .skill_area{
        max-width: 960px;
        margin: auto;
    }
    .skills{
        li{
            width: 16%;
            padding-left: 22px;
            margin-left: 43px;
            margin-bottom: 30px;
            img{
                width: 60%;
                
            }
        }
    }
    
    .skill_inf{
        width: 50%;
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .tab{ 
        max-width: 960px;
        margin: auto;
        @include display-flex;
        @include align-items(center);
        justify-content: center;
        align-items: center;

        div{
            width:-webkit-calc(100% / 4);
            width:calc(100% / 4);
            padding: 28px 0;
            box-sizing: border-box;
            background-color: $khaki;
            @include fontsize(14);
            letter-spacing: 1px;
            -webkit-tap-highlight-color:rgba(0,0,0,0);
            cursor: pointer;
        }

        div:nth-child(2){
            border-right:none;
            border-left:none;
        }

        .active_tb{
            background-color: white;
        }
    }
    .skill_area{
        display:none;
    }
    .show_tb{
        display: block;
    }
    .show_tb{
        background-color: white;
    }

    // WORKS
    .works{
        max-width: 960px;
        margin: auto;
        @include display-flex;
        @include flex-flow(row wrap);
        justify-content: flex-start;
        
        li{
            width:-webkit-calc(100% / 3);
        }
    }
}


/* ================================================
    - 03. WORKS画面
    eyecatch, title
================================================= */

// EYECATCH
.eyecatch_wk{
    height: 200px;
    padding-top: 170px;
    h2{
        @include fontsize(32);
        margin: 0;
    }
}
.eyecatch_wk::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    height: 100vh;
    background: url("../img/works/img_eyecathc_dtl.jpg") center/cover no-repeat;
    -webkit-background-size: cover;
    z-index: -1;
}
// TITLE
.ttl{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    p{
        margin: 10px 0;
    }
    .cat{
        @include cat($gold);
        margin: 20px 0;
    }
    h5{
        margin: 0;
        font-weight: bold;
    }
}

// CMP
.cmp{
    margin: auto;
    margin: 30px 0;
    .pcimg{
        width: 70%;   
    }
    .spimg{
        width: 20%;
        margin-left: 5px;
    }
    .othr{
        width: 100%;
    }
}

// VISIT SITE BUTTON
.visit_btn{
    margin: 40px 0;
    margin: auto;
    @include button($gold, white, $gold);
    @include display-flex;
    @include align-items(center);
    
    span{
        margin: auto;
        text-align: center;
        @include fontsize(14);
        vertical-align: middle;
    }
}
.visit_btn:hover{
    cursor: pointer; 
    @include button(white, $night, $gold);
}

// WORK INFOMAION
// SP
@media (max-width: 550px) {
    .workinf{
        margin-top: 30px;
        padding: 20px;
        box-sizing: border-box;
        table{
            margin: auto;
            width: 90%;
            border-collapse: separate;
            border-spacing: 0px 8px;
            letter-spacing: 2px;
            th, td{
                margin: auto;
                border-bottom: none;
                display: block;
                width: 100%;
                padding: 0 0;
                padding: 10px;
            }
            th{
                border-bottom: 1px solid $night;
                width: 90%;

            }
    
        }
        p{
            @include fontsize(12);
            width: 90%;
            margin: auto;
        }
    }
}


// CAPTURE
.capture{
    width: 100%;
    margin-bottom: 30px;
    .pcsht{
        width: 90%;
        border: 2px solid $khaki;
        margin-bottom: 10px;
    }
    .spsht{
        width:-webkit-calc(100% / 3.5);
    }
    .othr{
        width: 100%;
        border: 2px solid $khaki;
    }
}

// PC
@media (min-width: 551px) {
    // EYECATCH
    .eyecatch_wk{
        height: 300px;
        padding-top: 250px;
        h2{
            @include fontsize(54);
        }
    }
    
    // TITLE
    .ttl{
        p{
            @include fontsize(16);
        }
        .cat{
            margin: 50px 0px;
        }
        h5{
            @include fontsize(24);
            letter-spacing: 4px;
        }
    }
    
    // CMP
    .cmp{
        margin: 60px 0;
        
        .spimg{
            margin-left: 20px;
        }
        
        .othr{
            width:70%;
        }
    }
    
    // WORK INFOMAION
    .workinf{
        margin-top: 50px;
        padding: 40px;
        box-sizing: border-box;
        table{
            width: 100%;
            border-collapse: separate;
            border-spacing: 10px 10px;
            letter-spacing: 2px;
            th, td{
                border-bottom: none;
                padding-left: 30px;
            }
            th{
                border-right: 1px solid $night;
                width:40%;
            }
            td{
                width:60%;
            }
        }
        p{
            @include fontsize(12);
            width: 90%;
            margin: auto;
        }
    }

    // CAPTURE
    .capture{
        .pcsht{
            margin-bottom: 20px;
        }
        margin-bottom: 80px;
        
        .othr{
            width:49%;
        }
    }

}